<% provide(title: "Events")%>
<div class="col-md-8">
    <h3>Upcoming Events (<%= @events.upcoming.count %>)</h3>
    <ol class="microposts">
      <%= render @events.upcoming %>
    </ol>
</div>
<div class="col-md-8">
    <h3>Past Events (<%= @events.previous.count %>)</h3>
    <ol class="microposts">
      <%= render @events.previous %>
    </ol>
</div>
